
*.lock
.vs/WixRandomApp/v16/.suo
.vs/WixRandomApp/v16/Server/sqlite3/storage.ide
.vs/WixRandomApp/v16/Server/sqlite3/storage.ide-shm
.vs/WixRandomApp/v16/Server/sqlite3/storage.ide-wal
WixInstaller/bin/Debug/WixInstaller.msi
WixInstaller/bin/Debug/WixInstaller.wixpdb
WixInstaller/obj/Debug/Product.wixobj
WixInstaller/obj/Debug/WixInstaller.wixproj.BindBuiltOutputsFileListnull.txt
WixInstaller/obj/Debug/WixInstaller.wixproj.BindContentsFileListnull.txt
WixInstaller/obj/Debug/WixInstaller.wixproj.BindOutputsFileListnull.txt
WixInstaller/obj/Debug/WixInstaller.wixproj.FileList.txt
WixRandomApp/bin/Debug/WixRandomApp.exe
WixRandomApp/bin/Debug/WixRandomApp.pdb
WixRandomApp/obj/Debug/WixRandomApp.csproj.CoreCompileInputs.cache
WixRandomApp/obj/Debug/WixRandomApp.csproj.FileListAbsolute.txt
WixRandomApp/obj/Debug/WixRandomApp.exe
WixRandomApp/obj/Debug/WixRandomApp.pdb
*.txt
*.msi
*.wixpdb
*.cache
