<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--Add Guid specific to platform.-->
  <?if $(var.Platform)=x64?>
  <?define productCode="{39D25CFD-A45A-49BE-BCAC-6608EE3D2D1A}"?>
  <?else?>
  <?define productCode="{F214E0C5-9E3B-42BE-B10A-8B732F87DDBA}"?>
  <?endif?>

  <Product Id="$(var.productCode)"
           Name= "!(loc.ProductName_$(var.Platform))"
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="!(loc.CompanyName)"
           UpgradeCode="1b4fea5c-8357-48d7-ba45-381dbf95800e">

    <Package InstallerVersion="200"
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="!(loc.Desc)"
             Comments="!(loc.Comments)"
             Keywords="!(loc.KeyWords)"
             Manufacturer="!(loc.CompanyName)"
             ShortNames="yes"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="WixInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WixInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>
